body {
    background-color: aliceblue;
}

.InputArea, div {
    text-align: center;
}

#HomeButton {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    background-color: #f1efda;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#HomeButton:hover {
    background-color: #E5DC8F;
}

.BackHome {
    position: fixed;
    bottom: 20px;
    right: 40px;
}